.header-container {
  position: relative;
  #header-text {
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
}
.lineChildren{
  transform: translate(0, 500px);
 }
 .lineParent{
  overflow: hidden;
}